<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- ros2_control system -->
    <ros2_control name="RealSystem" type="system">
      <hardware>
        <plugin>real_underwater_hardware/RealSystem</plugin>
        <param name="robot_name">bluerov2_heavy</param>
        <param name="mavros_namespace">/mavros</param>
        <param name="thrust_pwm_model">bluerov2</param>
        <param name="thrust_channels">1 2 3 4 5 6 7 8</param>
        <param name="thrust_channel_scales">1 1 1 1 1 1 1 1</param>
      </hardware>
      <!-- Thruster joint interfaces -->
      <xacro:macro name="thruster_control_interface" params="num">
        <joint name="thruster${num}_joint">
          <!-- <command_interface name="velocity"/> -->
          <command_interface name="thrust"/>
          <!-- <state_interface name="position"/> -->
          <state_interface name="velocity"/>
          <!-- <state_interface name="thrust"/> -->
        </joint>
      </xacro:macro>
      <xacro:thruster_control_interface num="1"/>
      <xacro:thruster_control_interface num="2"/>
      <xacro:thruster_control_interface num="3"/>
      <xacro:thruster_control_interface num="4"/>
      <xacro:thruster_control_interface num="5"/>
      <xacro:thruster_control_interface num="6"/>
      <xacro:thruster_control_interface num="7"/>
      <xacro:thruster_control_interface num="8"/>
      <sensor name="imu_sensor">
        <state_interface name="orientation.x"/>
        <state_interface name="orientation.y"/>
        <state_interface name="orientation.z"/>
        <state_interface name="orientation.w"/>
        <state_interface name="angular_velocity.x"/>
        <state_interface name="angular_velocity.y"/>
        <state_interface name="angular_velocity.z"/>
        <state_interface name="linear_acceleration.x"/>
        <state_interface name="linear_acceleration.y"/>
        <state_interface name="linear_acceleration.z"/>
      </sensor>
    </ros2_control>

</robot>
