<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Thruster link and joint macro -->
  <xacro:macro name="thruster" params="num pose mesh_uri mesh_rpy joint_axis joint_xyz joint_effort joint_velocity">
    <!-- pose: x y z roll pitch yaw for the joint origin -->
    <xacro:property name="pose_list" value="${pose.split(' ')}"/>
    <link name="thruster${num}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.002"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="thruster${num}_visual">
        <origin xyz="0 0 0" rpy="${mesh_rpy}"/>
        <geometry>
          <mesh filename="${mesh_uri}"/>
        </geometry>
      </visual>
      <collision name="thruster${num}_collision">
        <origin xyz="0 0 0" rpy="${mesh_rpy}"/>
        <geometry>
          <mesh filename="${mesh_uri}"/>
        </geometry>
      </collision>
    </link>
    <joint name="thruster${num}_joint" type="revolute">
      <parent link="base_link"/>
      <child link="thruster${num}"/>
      <origin xyz="${pose_list[0]} ${pose_list[1]} ${pose_list[2]}" rpy="${pose_list[3]} ${pose_list[4]} ${pose_list[5]}"/>
      <axis xyz="${joint_xyz}"/>
      <limit lower="-3.14" upper="3.14" effort="${joint_effort}" velocity="${joint_velocity}"/>
    </joint>
  </xacro:macro>

  <!-- Thruster instances with poses matching the SDF visual configuration -->
  <xacro:thruster num="1" pose="0.14 -0.092 0.0 -1.571 1.571 -0.785" mesh_uri="package://bluerov2_heavy/meshes/t200_ccw_prop.dae" mesh_rpy="-1.571 0 0" joint_axis="revolute" joint_xyz="0 0 1" joint_effort="40" joint_velocity="400"/>
  <xacro:thruster num="2" pose="0.14 0.092 0.0 -1.571 1.571 -2.356" mesh_uri="package://bluerov2_heavy/meshes/t200_ccw_prop.dae" mesh_rpy="-1.571 0 0" joint_axis="revolute" joint_xyz="0 0 1" joint_effort="40" joint_velocity="400"/>
  <xacro:thruster num="3" pose="-0.14 -0.092 0.0 -1.571 1.571 0.785" mesh_uri="package://bluerov2_heavy/meshes/t200_cw_prop.dae" mesh_rpy="1.571 0 0" joint_axis="revolute" joint_xyz="0 0 1" joint_effort="1000" joint_velocity="400"/>
  <xacro:thruster num="4" pose="-0.14 0.092 0.0 -1.571 1.571 2.356" mesh_uri="package://bluerov2_heavy/meshes/t200_cw_prop.dae" mesh_rpy="1.571 0 0" joint_axis="revolute" joint_xyz="0 0 1" joint_effort="1000" joint_velocity="400"/>
  <xacro:thruster num="5" pose="0.118 -0.215 0.064 0 0 0" mesh_uri="package://bluerov2_heavy/meshes/t200_ccw_prop.dae" mesh_rpy="-1.571 0 1.571" joint_axis="revolute" joint_xyz="0 0 1" joint_effort="1000" joint_velocity="400"/>
  <xacro:thruster num="6" pose="0.118 0.215 0.064 0 0 0" mesh_uri="package://bluerov2_heavy/meshes/t200_cw_prop.dae" mesh_rpy="1.571 0 1.571" joint_axis="revolute" joint_xyz="0 0 -1" joint_effort="1000" joint_velocity="400"/>
  <xacro:thruster num="7" pose="-0.118 -0.215 0.064 0 0 0" mesh_uri="package://bluerov2_heavy/meshes/t200_cw_prop.dae" mesh_rpy="1.571 0 1.571" joint_axis="revolute" joint_xyz="0 0 -1" joint_effort="1000" joint_velocity="400"/>
  <xacro:thruster num="8" pose="-0.118 0.215 0.064 0 0 0" mesh_uri="package://bluerov2_heavy/meshes/t200_ccw_prop.dae" mesh_rpy="-1.571 0 1.571" joint_axis="revolute" joint_xyz="0 0 1" joint_effort="1000" joint_velocity="400"/>
</robot>
