<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Thruster link and joint macro -->
  <xacro:macro name="thruster" params="num origin_pose inertia pose mesh_uri joint_axis joint_xyz joint_effort joint_velocity">
    <xacro:property name="origin_list" value="${origin_pose.split(' ')}"/>
    <xacro:property name="inertia_list" value="${inertia.split(' ')}"/>
    <!-- pose: x y z roll pitch yaw for the joint origin -->
    <xacro:property name="pose_list" value="${pose.split(' ')}"/>
    <link name="thruster${num}">
      <inertial>
        <origin xyz="${origin_list[0]} ${origin_list[1]} ${origin_list[2]}" rpy="${origin_list[3]} ${origin_list[4]} ${origin_list[5]}"/>
        <mass value="0.01130000"/>
        <inertia ixx="${inertia_list[0]}" ixy="${inertia_list[1]}" ixz="${inertia_list[2]}" iyy="${inertia_list[3]}" iyz="${inertia_list[4]}" izz="${inertia_list[5]}"/>
      </inertial>
      <visual name="thruster${num}_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${mesh_uri}"/>
        </geometry>
      <material name="">
        <color rgba="1.0 0.8 0.2 1" />
      </material>
      </visual>
      <collision name="thruster${num}_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${mesh_uri}"/>
        </geometry>
      </collision>
    </link>
    <joint name="thruster${num}_joint" type="continuous">
      <parent link="servo${num}"/>
      <child link="thruster${num}"/>
      <origin xyz="${pose_list[0]} ${pose_list[1]} ${pose_list[2]}" rpy="${pose_list[3]} ${pose_list[4]} ${pose_list[5]}"/>
      <axis xyz="${joint_xyz}"/>
      <!-- <limit lower="-inf" upper="inf" effort="${joint_effort}" velocity="${joint_velocity}"/> -->
    </joint>
  </xacro:macro>

  <!-- Thruster instances with poses matching the SDF visual configuration -->
  <xacro:thruster num="1" origin_pose="0.00000000 0.00000000 0.00000000 0 0 0" inertia="0.00000401 0.00000000 0.00000000 0.00000401 0.00000000 0.00000766" pose="0 -0.0045016 0.0862 -1.5708 -1.5708 0" mesh_uri="file://$(find subcat)/meshes/thruster1_link.STL"  joint_axis="revolute" joint_xyz="0 0 -1" joint_effort="40" joint_velocity="400"/>
  <xacro:thruster num="2" origin_pose="0.00000000 0.00000000 0.00000000 0 0 0" inertia="0.00000401 0.00000000 0.00000000 0.00000401 0.00000000 0.00000766" pose="0 -0.0045016 0.0862 -1.5708 -1.5708 0" mesh_uri="file://$(find subcat)/meshes/thruster2_link.STL"  joint_axis="revolute" joint_xyz="0 0 -1" joint_effort="40" joint_velocity="400"/>
  <xacro:thruster num="3" origin_pose="0.00000000 0.00000000 0.00000000 0 0 0" inertia="0.00000401 0.00000000 0.00000000 0.00000401 0.00000000 0.00000766" pose="0 0.0045016 0.0862 -1.5708 1.5708 0" mesh_uri="file://$(find subcat)/meshes/thruster3_link.STL"  joint_axis="revolute" joint_xyz="0 0 1" joint_effort="40" joint_velocity="400"/>
  <xacro:thruster num="4" origin_pose="0.00000000 0.00000000 0.00000000 0 0 0" inertia="0.00000401 0.00000000 0.00000000 0.00000401 0.00000000 0.00000766" pose="0 0.0045016 0.0862 -1.5708 1.5708 0" mesh_uri="file://$(find subcat)/meshes/thruster4_link.STL"  joint_axis="revolute" joint_xyz="0 0 1" joint_effort="40" joint_velocity="400"/>
</robot>
